@import url('https://unpkg.com/normalize.css/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap');

:root {
  --font-family: 'Gaegu', cursive;
}

html {
  font-size: calc(100% + 2vw);
}

body {
  font-family: var(--font-family);
  font-size: 1rem;
  margin: 1rem auto;
  max-width: 800px;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
